<h1>Sign Up</h1>
<table>

    <tr>
    <td>Username</td>
    <td>:</td>
    <td><input type="text"></td>
    </tr>
    
    <tr>
    <td>Password</td>
    <td>:</td>
    <td><input type="password"></td>
    </tr>

    <tr>
    <td>E-mail</td>
    <td>:</td>
    <td><input type="email"></td>
    </tr>

    <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><input type="submit" name="submit" value="Sign up"/>
    <input type="reset" name="reset" value="Batal" /></td>
    </tr>
    
    </table>